/*-----------------------home--------------------------*/

.body-content {
	position: relative;
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
	box-sizing: border-box;
}

.body-content p {
	max-width: 900px;
}

body{
	/*background-color: #efefef;*/
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 12pt;
	color: #3f3f3f;
	margin-bottom: 10%;
}

body a{
	text-decoration: none;
	color: black;
}

body a:hover{
	color: #603fe2;
}

.grid a:hover{
	color:black;
}

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }


/*-----grid-----*/
.masonry-grid {
	margin: 0 auto;
	margin-top: 0px;
}

.grid-sizer, .grid-item {
		width: 33.333%
}

.grid-item--width2{
	width: 66.666%;
	float: right;
}

.grid-item--width3{
	width: 100%;
	float: right;
}


@media only screen and (max-width: 1000px){
	.grid-sizer, .grid-item {
		width: 50%
	}
	.grid-item--width2 {
		width: 100%;
	}
}

@media only screen and (max-width: 600px){
	.grid-sizer, .grid-item {
		width: 100%
	}
}

.grid-item { 
	padding: 10px;
	float: left;
	font-family: 'Source Code Pro', monospace;
}

.grid-item img {
	position: relative;
	display: block;
	width: 100%;
	/*height: auto;*/
	padding: 5px;
}


/*---------header: title----------*/

#title-name h1{
	font-size: 20pt;
	/*font-weight: 900;*/
  	transition: all 0.15s ease
  	color: black;
}

#title-name a {
	transition: all 0.15s ease;
}

/*---------header & navbar----------*/

header {
	font-family: 'Source Code Pro', monospace;
	height: 80px;
	z-index: 10;
	margin-bottom: 0;
	padding-bottom: 0;
}

#title{
	font-weight: bold;
}

nav {
	width: 100%;
	height: 60px;
	opacity: 0.9;

	background: white;
	position: fixed;
	z-index: 10;
}

nav div {
	color: white;
	font-size: 2rem;
	line-height: 60px;
	position: absolute;
	top: 0;
	margin-left: 15px;	
}

nav div h1 {
	opacity: 1;
	color: white;
	font-size: 2rem;
	line-height: 40px;
}

nav ul{
	list-style-type: none;
	margin: 0 0 0 0;
	text-align: right;
	max-width: 1200;
}

nav ul li{
	font-size: 16pt;
	display: inline-block;
	line-height: 60px;
}


#mobileNav{display: none;}
.mobile{
	background-color: white;
}



/*--Image rollover--*/
.icon {
	opacity: 1;
	transition: .3s ease;
	backface-visibility: hidden;
}
.rollover {
	background-color: rgb(255,255,255,0.8);;
	transition: .3s ease;
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	 transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
	text-align: center;
	padding: 15px;
	padding-bottom: 0px;
	width:70%;
}
.grid-item:hover .icon{
	opacity: 0.1;
}
.grid-item:hover .rollover{
	opacity: 0.2;
}
.text{
	/*color: white;*/
	font-size: 22pt;
	/*background-color: white;*/
	padding-bottom: 15px;
}
.subhead {
	font-size: 14pt;
	display: none;
}

@media only screen and (max-width: 1100px){
	.text{
		font-size:18pt;
	}
	.subhead {
		font-size:14pt;
	}
}


@media only screen and (max-width: 600px){
	.text{
		font-size:18pt;
	}
	.subhead {
		font-size:14pt;
	}
}

/* -----responsive sizing - menu------ */
.active-page {
	color: #603fe2;
}


@media screen and (max-width: 600px) {
	#desktopNav{display: none;}
	#mobileNav{display: block;}
	.mobile{display: none;}
	.rollover{
		background-color: rgb(255,255,255,0.8);
		opacity: 1;
	}
	.icon{
	opacity: 1;
	}
}



/*-----------------piece_page----------------------------------*/

a.darken {
	display: inline-block;
	background-color: black;
	padding: 0;
}

a.darken img {
	display: block;
	width: 50%;
	 -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a.darken p{
	opacity: 0;
	vertical-align: center;
}

a.darken img:hover {
	opacity: 0.3;
	color: white;
}

a.darken p:hover {
	opacity: 1;
}

.body-content img{
	width: 100%;
	max-width: 800px;
}

/* -------- videos & media ---------- */
iframe {
	padding: 10px;
}

.twitter-content{
	max-width: 900px;
}


/*--------process images----------*/
.process img{
	width: 40%;
	padding: 0px 10px;
	margin-bottom: 5px;
}
.process p {
	margin-top: 0px;
}
@media only screen and (max-width: 600px){
	.process img {
		width: 70%;
	}
}


/*--------slideshow----------*/

.slides {
	height: 35vw;
}

.slides img {
	width: 40%;
	top: 50%;
	left: 50%;
}

.slideshow{
	width: 100%;
	margin-top: 0px;
}

.mySlides{
	display: none;
	transition: 0.4s ease;
}
.mySlides img{
	max-width: 800px;
}

.slide_image {
	width: 70%;	
}

.dot{
	background-color: #3f3f3f;
	cursor: pointer;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 2px;
	transition: 0.4s ease;
}

.active, .dot:hover {
	background-color: #603fe2;
}


.prev,.next{
	color: #3f3f3f;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	/*padding: 16px;*/
	font-weight: bold;
	font-size: 40px;
	/*transition: 0.4s ease;*/
}

.next {
	right: 0;
}


/*-----title and tags----------*/

.piece_titletags {
	font-family: 'Source Code Pro', monospace;
}

.piece_titletags h3{
	margin-top: 0;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 30pt;
}

.piece_titletags p{
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 12pt;
	color: #333333;
}

.piece_body, .process p{
	font-size: 14pt;
}



/*-------------------------------about me----------------------------*/

#about-me p{
	color: black;
	font-size: 20px;
	text-align: left;
	margin: 50px 2% auto auto;
}

#skills p {
	font-size: 20px;
	text-align: left;
}

#profile-pic {
	margin-top: 10px;
	width: 100%;
	max-width: 250px;
}

#resume {
	width: 50%;
	padding-top: 5px;
}

#resume img:hover {
	opacity: 0.5;
	 transition: all 0.15s ease
}
@media only screen and (max-width: 1000px){
	#resume{width: 80%;}
}

/*-------------------------------spinner----------------------------*/

#loader { 
			
            border: 5px solid #f3f3f3; 
            border-radius: 50%; 
            border-top: 5px solid #444444; 
            width: 50px; 
            height: 50px; 
            animation: spin 1s linear infinite; 
        } 
          
        @keyframes spin { 
            100% { 
                transform: rotate(360deg); 
            } 
        } 
          
        .center { 
            position: absolute; 
            top: 0; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            margin: auto; 
        } 